<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-class">

  <ion-row class="header-row">
    <ion-col col-2>
      <ion-row class="full-height">
        <ion-icon name="md-menu" menuToggle class="header-icon"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full-height">
        <span class="header-span">
          Equilibrium Mobile
        </span>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content padding>
  <ion-row class="login-detail">
    <span>
      Login Details
    </span>
  </ion-row>

  <ion-row class="login-input-row">
    <ion-col col-4>
      <ion-row class="full-height">
        <span>Username</span>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full-height">
        <input [(ngModel)]="userData.username" placeholder="Enter username">
        <ion-icon name="ios-close-circle" class="close-icon" *ngIf="userData.username != ''" (click)="clearUsername()"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="login-input-row">
    <ion-col col-4>
      <ion-row class="full-height">
        <span>Password</span>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full-height">
        <input [(ngModel)]="userData.password" placeholder="Enter password">
        <ion-icon name="ios-close-circle" class="close-icon" *ngIf="userData.password != ''" (click)="clearPassword()"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="remember-row">
    <ion-list>
      <ion-item>
        <ion-checkbox [(ngModel)]="remUsername"></ion-checkbox>
        <ion-label>Remember username</ion-label>
      </ion-item>
    </ion-list>
  </ion-row>

  <ion-row class="login-button">
    <button ion-button (click)="login()">
      <ion-row class="full-height">
        <ion-icon name="md-person"></ion-icon>
        <span>Login</span>
      </ion-row>
    </button>
  </ion-row>


</ion-content>