page-login {
    .login-detail {
        margin-top: 10px;
        span {
            font-size: 2rem;
            color: #00BCD4;
            font-weight: bold;
        }
    }
    .login-input-row {
        margin-top: 20px;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        input {
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;
        }
        ::-webkit-input-placeholder {
            /* Chrome */
            color: #999;
            transition: opacity 250ms ease-in-out;
        }
        :focus::-webkit-input-placeholder {
            opacity: 0.5;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            color: #999;
            transition: opacity 250ms ease-in-out;
        }
        :focus:-ms-input-placeholder {
            opacity: 0.5;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #999;
            opacity: 1;
            transition: opacity 250ms ease-in-out;
        }
        :focus::-moz-placeholder {
            opacity: 0.5;
        }
        :-moz-placeholder {
            /* Firefox 4 - 18 */
            color: #999;
            opacity: 1;
            transition: opacity 250ms ease-in-out;
        }
        :focus:-moz-placeholder {
            opacity: 0.5;
        }
        .close-icon {
            color: #999;
            position: absolute;
            right: 0px;
            top: 30%;
        }
        .company-row {
            span {
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                width: 100%;
                max-width: 100%;
                padding-left: 0px;
                padding-top: 3px;
                height: fit-content;
                margin: auto;
            }
            .placehoder-color {
                color: #999;
            }
        }
        .full-height {
            position: relative;
        }
        .error-icon {
            color: #979797;
            position: absolute;
            right: 0px;
            color: red;
            margin: auto;
        }
        ion-select {
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 100%;
            padding-bottom: 1px;
            padding-left: 0px;
            padding-top: 3px;
            height: fit-content;
            margin: auto;
        }
        .select-icon .select-icon-inner {
            display: none !important;
        }
    }
    .login-button {
        margin-top: 20px;
        button {
            background-color: #0f9d58;
            margin: auto;
            ion-icon {
                margin-top: auto;
                margin-bottom: auto;
                padding-right: 10px;
            }
            span {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
    .remember-row {
        margin-top: 20px;
        .checkbox-checked {
            border-color: #00BCD4 !important;
            background-color: #00BCD4 !important;
        }
        ion-label {
            margin-top: auto;
            margin-bottom: auto;
        }
        ion-item {
            border: unset !important;
        }
        .list-md .item-block .item-inner {
            margin-left: -20px !important;
        }
    }
    ion-footer {
        height: 55px;
        .tab-footer {
            height: 100%;
            .selected {
                background-color: #00BCD4;
                border-top: 2px solid yellow;
                ion-icon {
                    margin: auto;
                    font-size: 2.3rem;
                }
                span {
                    margin: auto;
                }
            }
            .unselected {
                ion-icon {
                    margin: auto;
                    font-size: 2.3rem;
                }
                span {
                    margin: auto;
                }
            }
        }
    }
    .app-detail {
        margin-top: 5px;
        ion-row {
            margin-top: 5px;
            font-size: 1.4rem;
        }
    }
    .border-row {
        margin-top: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    .company-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        .company-body {
            width: 250px;
            height: 350px;
            margin: auto;
            position: relative;
            background-color: white;
            .company-detail {
                height: 80%;
                margin-top: 5%;
                overflow-y: auto;
                span {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 20px;
                }
                .each-company:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
                .selected-company {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
            .empty-company {
                text-align: center; // margin-top: 30%;
                span {
                    margin: auto;
                }
            }
            .cancel-company {
                position: absolute;
                bottom: 0;
                button {
                    margin: auto;
                    border: unset !important;
                }
            }
        }
    }
}