<!-- See https://github.com/mobxjs/mobx-angular .. It shows how mobxAutorun works -->
<ion-header class="header-class" *mobxAutorun>

  <ion-row class="header-row">
    <ion-col col-2>
      <ion-row class="full-height">
        <ion-icon name="md-menu" menuToggle class="header-icon"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full-height">
        <span class="header-span">
          Equilibrium Mobile
        </span>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding>
  <ion-row *ngIf="model.activeTab == 0">
    <ion-row class="login-detail">
      <span>
        Login Details
      </span>
    </ion-row>

    <ion-row class="login-input-row">
      <ion-col col-4>
        <ion-row class="full-height">
          <span>Username</span>
        </ion-row>
      </ion-col>
      <ion-col col-8>
        <ion-row class="full-height">
          <input [(ngModel)]="model.username" placeholder="Enter username">
          <ion-row class="close-icon">
            <ion-icon name="ios-close-circle" *ngIf="model.username != ''" (click)="clearUsername()"></ion-icon>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="login-input-row">
      <ion-col col-4>
        <ion-row class="full-height">
          <span>Password</span>
        </ion-row>
      </ion-col>
      <ion-col col-8>
        <ion-row class="full-height">
          <input [(ngModel)]="model.password" placeholder="Enter password">
          <ion-row class="close-icon">
            <ion-icon name="ios-close-circle" *ngIf="model.password != ''" (click)="clearPassword()"></ion-icon>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="remember-row">
      <ion-list>
        <ion-item>
          <ion-checkbox [(ngModel)]="remUsername"></ion-checkbox>
          <ion-label>Remember username</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="login-button">
      <button ion-button (click)="login()">
        <ion-row class="full-height">
          <ion-icon name="md-person"></ion-icon>
          <span>Login</span>
        </ion-row>
      </button>
    </ion-row>

  </ion-row>

  <ion-row *ngIf="model.activeTab == 1">
    <ion-row class="login-detail">
      <span>
        Settings
      </span>
    </ion-row>

    <ion-row class="login-input-row">
      <ion-col col-4>
        <ion-row class="full-height">
          <span>Sever Name</span>
        </ion-row>
      </ion-col>
      <ion-col col-8>
        <ion-row class="full-height">
          <input [(ngModel)]="model.serverName" placeholder="Enter server name">
          <ion-row class="close-icon">
            <ion-icon name="ios-close-circle" *ngIf="model.serverName != ''" (click)="clearServerName()"></ion-icon>
            <ion-icon name="ios-alert" class="error-icon" *ngIf="model.serverName == ''"></ion-icon>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="login-input-row">
      <ion-col col-4>
        <ion-row class="full-height">
          <span>Company Name</span>
        </ion-row>
      </ion-col>

      <!-- TODO : I do not want this to be a select. I want a screen to popup, so that the company list does not need to be loaded
        in order to display the company name. The company list must only be loaded when selecting the company
      -->
      <ion-col col-8>
        <ion-row class="full-height company-row">
          <ion-row class="close-icon">
            <ion-icon name="ios-alert" class="error-icon" *ngIf="model.databaseName == null"></ion-icon>
            <ion-icon name="ios-arrow-forward" *ngIf="model.databaseName != null"></ion-icon>
          </ion-row>
          <span *ngIf="model.databaseName != ''" (click)="getCompanyList()">
            {{model.companyName}}
          </span>
          <span class="placehoder-color" *ngIf="model.databaseName == ''" (click)="getCompanyList()">
            Enter company name
          </span>

        </ion-row>
      </ion-col>

      <ion-row class="remember-row">
        <ion-list>
          <ion-item>
            <ion-checkbox [(ngModel)]="model.useSsl"></ion-checkbox>
            <ion-label>Use secure connection</ion-label>
          </ion-item>
        </ion-list>
      </ion-row>


      <!-- <ion-row class="login-button margin-top-2">
        <ion-col col-12>
          <ion-row class="full-height">
            <button ion-button (click)="saveSetting()">
              <ion-row class="full-height">
                <ion-icon name="md-card"></ion-icon>
                <span>Save Settings</span>
              </ion-row>
            </button>
          </ion-row>
        </ion-col>
      </ion-row> -->

      <!-- TODO : Should be left aligned -->
      <ion-row class="login-button">
        <ion-col col-12>
          <ion-row class="full-height">
            <button ion-button (click)="clearOffline()">
              <ion-row class="full-height">
                <ion-icon name="ios-trash-outline"></ion-icon>
                <span>Clear All Offline Data</span>
              </ion-row>
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="border-row"></ion-row>

    <ion-row class="app-detail">
      <ion-row>
        <span>
          App verion: 2018-09-29. 1
        </span>
      </ion-row>
      <ion-row>
        <span>
          <!-- TODO : Get from codepush .. See the code in the old project for how to do this -->
          Codepush label: Not Available
        </span>
      </ion-row>
    </ion-row>

  </ion-row>

  <ion-row class="company-list" *ngIf="model.companyListSelected">
    <ion-row class="company-body">
      <ion-row class="company-detail" *ngIf="!model.companyListState">
        <ion-row [ngClass]="{'each-company':list.description != model.companyName  , 'selected-company': list.description == model.companyName}"
          *ngFor="let list of model.companyList; let i = index" (click)="selectCompany(i)">
          <span>
            {{list.description}}
          </span>
        </ion-row>
      </ion-row>
      <ion-row *ngIf="model.companyListState">
        <ion-row class="empty-company">
          <span>
            No data to display
          </span>
        </ion-row>
      </ion-row>

      <ion-row class="cancel-company">
        <button ion-button outline (click)="cancelCampany()">
          Cancel
        </button>
      </ion-row>
    </ion-row>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row class="tab-footer">
    <ion-col col-6 [ngClass]="{'selected':model.activeTab == 0, 'unselected':model.activeTab != 0}" (click)="selectLoginTab()">
      <ion-row class="full-height">
        <ion-row>
          <ion-icon name="md-person"></ion-icon>
        </ion-row>
        <ion-row>
          <span>
            Login
          </span>
        </ion-row>
      </ion-row>
    </ion-col>

    <ion-col col-6 [ngClass]="{'unselected':model.activeTab != 1, 'selected':model.activeTab == 1}" (click)="selectSettingsTab()">
      <ion-row class="full-height">
        <ion-row>
          <ion-icon name="md-settings"></ion-icon>
        </ion-row>
        <ion-row>
          <span>
            Settings
          </span>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>