page-setting {
    .login-detail {
        margin-top: 10px;
        span {
            font-size: 2rem;
            color: #00BCD4;
            font-weight: bold;
        }
    }
    .login-input-row {
        margin-top: 20px;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        input {
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
            border-color: rgba(0, 0, 0, 0.2);
            border-width: 1px;
            width: 100%;
        }
        .close-icon {
            color: #979797;
            position: absolute;
            right: 0px;
        }
        .error-icon{
            color: #979797;
            position: absolute;
            right: 0px;
            color: red;
            margin: auto;
        }
        .full-height {
            position: relative;
        }
        ion-select {
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 100%;
            padding-bottom: 1px;
            padding-left: 0px;
            padding-top: 3px;
            height: fit-content;
            margin: auto;
        }
        .select-icon .select-icon-inner{
            display: none !important;
        }
    }
    .remember-row {
        margin-top: 20px;
        .checkbox-checked {
            border-color: #00BCD4 !important;
            background-color: #00BCD4 !important;
        }
        ion-label {
            margin-top: auto;
            margin-bottom: auto;
        }
        ion-item {
            border: unset !important;
        }
        .list-md .item-block .item-inner {
            margin-left: -20px !important;
        }
    }
    .login-button {
        // margin-top: 20px;
        button {
            background-color: #0f9d58;
            margin: auto; // width: 100%;
            ion-icon {
                margin-top: auto;
                margin-bottom: auto;
                padding-right: 10px;
            }
            span {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
    .border-row {
        margin-top: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    .app-detail{
        margin-top: 5px;
        ion-row{
            margin-top: 5px;
            font-size: 1.4rem;
        }
    }
}